.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.35rem 5%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; /* Ensures it stays above other elements */
}

.nav-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-logo a {
    text-decoration: none;
    color: #007bff;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #535659;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #007bff;
    text-shadow: 0 0 15px rgba(52, 152, 219, 0.6); 
}

.btn-link {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff !important;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.6); 
    text-decoration: none;
    transition: all 0.3s ease-in-out;

}
.btn-link:hover {
    background-color: #0056b3;
}

.navbar {
  backdrop-filter: blur(10px); /* Blurs whatever is behind it */
}