.post-job-container {
  padding: 100px 5% 50px;
  background-color: #f8fafc;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-job-header {
  width: 100%;
  max-width: 800px;
  margin-bottom: 30px;
}

.back-btn {
  background: none;
  border: none;
  color: #64748b;
  cursor: pointer;
  margin-bottom: 30px;
  text-decoration: none;
}

.title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  max-height: 30px;
}

.post-job-header p {
  color: #64748b;
  margin-top: 50px;
}

/* Form Sections */
.post-job-form {
  width: 100%;
  max-width: 800px;
}

.form-section {
  background: white;
  padding: 40px;
  border-radius: 20px;
  border: 1px solid #e2e8f0;
  margin-bottom: 25px;
  box-shadow: 0 0 30px rgba(52, 152, 219, 0.3);
}

.form-section h3 {
  font-size: 1.2rem;
  color: #1e293b;
  margin-bottom: 5px;
}

.section-sub {
  color: #64748b;
  font-size: 0.9rem;
  margin-bottom: 30px;
}

/* Input Layouts */
.input-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input-group.full {
  margin-bottom: 25px;
}

.input-group.full input:focus, .input-grid input:focus{
    box-shadow: 0 0 15px rgba(52, 152, 219, 0.4);
    transition: all 0.2s ease-in-out;
}
.group-label {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  color: #1e293b;
}

label {
  font-size: 0.9rem;
  font-weight: 600;
  color: #334155;
}

input, select, textarea {
  padding: 12px 20px;
  border: 1px solid #e2e8f0;
  border-radius: 25px;
  background: #f8fafc;
  font-size: 0.95rem;
}

select{
    appearance: none;
}

.input-group input,.input-group select   , .input-grid input{
    color:#64748b
} 

select:focus, input:focus, textarea:focus{
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 15px rgba(52, 152, 219, 0.4);
  transition: all 0.2s ease-in-out;
}

textarea {
  min-height: 120px;
  resize: vertical;
}

.input-hint {
  font-size: 0.8rem;
  color: #94a3b8;
  margin-top: 5px;
}

/* Footer */
.form-footer {
  background: white;
  padding: 25px 40px;
  border-radius: 20px;
  border: 1px solid #e2e8f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 30px rgba(52, 152, 219, 0.3);
}

.cancel-btn {
  background: none;
  border: none;
  color: #64748b;
  font-weight: 500;
  cursor: pointer;
}

.publish-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(52, 152, 219, 0.6);
  transition: background 0.2s ease;
}

.publish-btn:hover {
    background: #006adc;
    transition: all 0.2s ease-in-out;
}